.app {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Arial';
}

.app-messages {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	z-index: 100000;
}

.app-message {
	background-color: #FFF;
	padding: 5px;
	margin-top: 5px;
	color: #000;
	box-shadow: 5px 5px 10px #111;
}

.app-message-enter {
	opacity:0;
}

.app-message-enter.app-message-enter-active {
	opacity:1;
	transition:opacity 500ms ease-in;
}

.app-message-leave {
	opacity:1;
}

.app-message-leave.app-message-leave-active {
	opacity:0.01;
	transition:opacity 500ms ease-in;
}
