.splash {
	align-self: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #EEE;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 3px 3px 20px;
	font-family: 'Arial';
}

.splash-field {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: left;
	margin-bottom: 10px;
}

.splash-field-label {
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
}

.splash-field-control {
	flex: 1;
	font-size: 15px;
	line-height: 20px;
	padding: 5px;
	background-color: transparent;
	border: 0;
	border-bottom:1px solid #CCC;
}

.splash-action {
	font-size: 20px;
}