.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-body {
	display: flex;
	flex: 1;
	padding: 20px;
}

.app-menu {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;
	background-color: #DDD;
	border-radius: 5px;
	padding: 20px;
}

.app-field {
	display: flex;
	flex: 1;
	flex-direction: row;
	text-align: center;
	margin-top: 5px;
}

.app-field .control {
	flex: 1;
	font-size: 20px;
	line-height: 25px;
	padding: 5px;
}
