.player {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sample {
	position: relative;
	display: flex;
	height: 80px;
	width: 80px;
	margin: 5px;
}

.sample-cover {
	height: 80px;
	width: 80px;
	opacity: 0.1;
	transition: opacity 0.5s ease-in-out;
}

.sample-title {
	display: none;
	position: absolute;
	top: -30px;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	line-height: 20px;
	white-space: nowrap;
	text-decoration: none;
}

.sample-title:hover {
	text-decoration: underline;
}

.sample.playing .sample-cover {
	opacity: 1.0;
}

.sample:hover .sample-title {
	display: block;
}

.sample-info {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #FFF;
	display: inline;
	padding: 5px;
	min-width: 20px;
	text-align: center;
}

/* --------------------------------------------------------------- */

.player .sample {
	height: 20vh;
	width: 20vh;
}

.player .sample-cover {
	height: 20vh;
	width: 20vh;
}
