
.player-sample {
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
	background-color: #CCC;
	box-shadow: 5px 5px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-sample.playing {
	background-color: #F00; /* TODO */
}

.player-sample:first-child {
	margin-top: 0;
}

.player-sample a {
	cursor: pointer;
}

.player-sample-title {
	text-decoration: none;
	white-space: nowrap;
}

.player-sample-title:hover {
	text-decoration: underline;
}
