.player {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.samples-group-by-col {
	display: flex;
	flex-direction: column;
}

.samples-group-by-row {
	display: flex;
	flex-direction: row;
}

.sample {
	position: relative;
	display: flex;
	margin: 5px;
}

.sample-title {
	display: none;
	position: absolute;
	top: -30px;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	line-height: 20px;
	white-space: nowrap;
	text-decoration: none;
	z-index: 10000;
}

.sample-title:hover {
	text-decoration: underline;
}

.sample-info {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #FFF;
	display: inline;
	padding: 5px;
	min-width: 20px;
	text-align: center;
	z-index: 1000;
}

.sample-metas {
	position: absolute;
	display: flex;
	bottom: 10px;
	right: 10px;
	flex-direction: row;
	flex-wrap: nowrap;
	z-index: 100;
	opacity: 0.3;
	background-color: #FFF;
	color: #000;
	font-size: 12px;
	line-height: 12px;
}

.sample-meta {
	padding: 2px;
}

.sample-meta:first-child {
}

.sample:hover .sample-title {
	display: block;
}

.sample:hover .sample-metas {
	opacity: 1.0;
}

@media only screen and (max-height: 300px) {
    .sample-metas {
        display: none;
    }
}

/* --------------------------------------------------------------- */

.player .sample {
	height: 20vh;
	width: 20vh;
}

.player .sample-cover {
	height: calc(20vh - 10px);
	width: calc(20vh - 10px);
	box-shadow: 5px 5px 10px;
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
	pointer-events: none;
}

.sample.playing .sample-cover {
	opacity: 1.0;
	box-shadow: 0 0 0;
}

/*
KEYBOARD_AZERTY
BCF2000_MULTISLIDERS
LIGHTPADBLOCK_16
CUSTOM_SOCKET_STRATEGY
*/
.player.KEYBOARD_AZERTY {
	flex-direction: column;
}

.player.KORG_NANOKEY2 {
	flex-direction: column;
	align-items: left;
}

.player.KORG_NANOKEY2 .samples-group:nth-child(1) .sample:nth-child(1) {
	margin-left: 12vh;
}

.player.KORG_NANOKEY2 .samples-group:nth-child(1) .sample:nth-child(3) {
	margin-left: 24vh;
}

.player.KORG_NANOKEY2 .samples-group:nth-child(1) .sample:nth-child(6) {
	margin-left: 24vh;
}

.player.KORG_NANOKEY2 .samples-group:nth-child(1) .sample:nth-child(8) {
	margin-left: 24vh;
}
