
.player-sample {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 10px;
	padding: 10px;
	background-color: #CCC;
	opacity: 0.5;
	box-shadow: 5px 5px 10px;
	transition: opacity 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}

.player-sample.playing {
	opacity: 1.0;
	box-shadow: 0 0 0;
}

.player-sample a {
	cursor: pointer;
}

.player-sample-title {
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.player-sample-title:hover {
	text-decoration: underline;
}

.player-sample-xxxDuration {
}