.samples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.sample {
	position: relative;
	display: flex;
	height: 80px;
	width: 80px;
	margin: 5px;
}

.sample-cover {
	height: 80px;
	width: 80px;
	opacity: 0.1;
	transition: opacity 0.5s ease-in-out;
}

.sample-info {
	display: none;
}

.sample:hover .sample-cover, .sample.playing .sample-cover {
	opacity: 1.0;
}

.sample:hover .sample-info {
	display: block;
	position: absolute;
	top: -35px;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	white-space: nowrap;
}
